# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Docker
*.log
*.pid

# Ansible
*.retry

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# SSH
*.pem

# OS / Editor
.DS_Store
.idea/
.vscode/
